@tailwind base;
@tailwind components;
@tailwind utilities;


nav {

    
     .title {
        @apply text-[16px] font-medium text-black leading-4 cursor-pointer
    }

    .title.active {
      @apply font-bold text-primary-400 pb-[6px] border-b-[1px] border-primary-400
    }

}


body {

    font-family: 'Poppins';
    background-color: #f6f8fd;
  }
  
  @layer utilities {
    .container {
      width: 92%;
      margin-left: auto;
      margin-right: auto;
    }
  
    @media (min-width: 640px) {
      .container {
        max-width: 640px;
      }
    }
    @media (min-width: 768px) {
      .container {
        max-width: 768px;
      }
    }
    @media (min-width: 1024px) {
      .container {
        max-width: 1024px;
      }
    }
    @media (min-width: 1280px) {
      .container {
        max-width: 1280px;
      }
    }
    @media (min-width: 1536px) {
      .container {
        max-width: 1536px;
      }
    }
  }
